.form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.data {
  margin-left: 20px;
  margin-bottom: 10px;
  outline: none;
  height: 20px;

  border: 1px solid grey;
  border-radius: 4px;
}

.title {
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
}
